* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes wavvy_text {
  0% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }
  25% {
    transform: rotate(1deg) translateY(0) scale(1);
  }
  50% {
    transform: rotate(0deg) translateY(-5px) scale(0.99);
  }
  75% {
    transform: rotate(-1deg) translateY(0) scale(1);
  }
  100% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }
}
body {
  color: #fff;
  font-family: Helvetica, sans-serif;
}

.content {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.help {
  color: #99aee7;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.6em;
  overflow-y: scroll;
  padding: 10px 30px;
}
.help h1 {
  animation: 60s ease-in-out infinite wavvy_text;
  color: #dd474d;
  padding: 20px;
  text-align: center;
}
.help h2 {
  color: #fff;
}
.help h3 {
  color: #cb262c;
}
.help h4 {
  color: #cb262c;
}
.help h5 {
  color: #cb262c;
}
.help h6 {
  color: #cb262c;
}
.help p {
  padding: 6px 6px 24px 12px;
}
.help a {
  color: #cb262c;
}
.help a:hover {
  color: #fff;
  text-decoration: underline;
}
.help ul {
  padding-left: 6px;
}
.help li {
  list-style: none;
  padding: 6px;
  text-decoration: none;
}
.help table {
  padding: 6px;
}
.help table th {
  color: #cb262c;
  padding: 12px;
}
.help table tr {
  background: #121212;
  margin: 6px;
}
.help table td {
  padding: 6px 6px 6px 12px;
}
.help code {
  background: #121212;
  color: #fff;
  padding: 0 2px;
}

.wrapper.campaign-list {
  align-items: stretch;
  background: #121212;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 20px;
  width: 200px;
}
.wrapper.campaign-list .menu {
  margin-bottom: 10px;
  user-select: none;
}
.wrapper.campaign-list .menu:hover .logo {
  animation: 1s ease infinite rotation;
}
.wrapper.campaign-list .menu:hover .spacer {
  width: 80%;
}
.wrapper.campaign-list .menu:hover .options {
  max-height: 100px;
}
.wrapper.campaign-list .menu .logo {
  display: block;
  height: 50px;
  margin: 0 auto;
  padding: 5px;
  transform: rotate(0deg);
  transition: transform 2s ease-in-out;
  width: 50px;
}
.wrapper.campaign-list .menu .spacer {
  background: none;
  height: 2px;
  margin: 0 auto;
  padding-top: 6px;
  position: relative;
  transition: width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width: 20%;
}
.wrapper.campaign-list .menu .spacer::after {
  background: #cb262c;
  content: " ";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.wrapper.campaign-list .menu .options {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), width 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  width: 80%;
}
.wrapper.campaign-list .menu .options a {
  color: #cb262c;
  flex-grow: 1;
  padding: 6px 0;
  text-align: center;
  white-space: nowrap;
}
.wrapper.campaign-list .menu .options a:hover {
  background: #343434;
}
.wrapper.campaign-list .campaign-list-item {
  align-items: stretch;
  background: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding: 5px;
  position: relative;
  transition: background 0.3s ease-out;
}
.wrapper.campaign-list .campaign-list-item:hover {
  background: #343434;
  cursor: pointer;
}
.wrapper.campaign-list .campaign-list-item:hover .campaign-list-item-options {
  max-height: 100px;
}
.wrapper.campaign-list .campaign-list-item.open {
  background: #343434;
}
.wrapper.campaign-list .campaign-list-item .campaign-list-item-name {
  flex-grow: 1;
  text-align: center;
}
.wrapper.campaign-list .campaign-list-item .campaign-list-item-options {
  align-items: stretch;
  color: #cb262c;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 18px;
  left: 0;
  max-height: 100px;
  position: relative;
  text-align: center;
  transition: max-height 0.3s ease-out;
  white-space: nowrap;
}
.wrapper.campaign-list .campaign-list-item .campaign-list-item-options p {
  flex-grow: 1;
  padding: 5px;
}
.wrapper.campaign-list .campaign-list-item .campaign-list-item-options p:hover {
  color: #fff;
}
.wrapper.campaign-list .campaign-list-item .clickable {
  user-select: none;
}
.wrapper.main-content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
.wrapper.main-content .campaign-details {
  color: #fff;
  flex-grow: 1;
  height: 180px;
}
.wrapper.main-content .campaign-pages-list {
  background: #343434;
  color: #fff;
  flex-grow: 1;
  height: 180px;
}

/*# sourceMappingURL=master.css.map */
